/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

/* Pastikan video dan canvas mengisi area yang tersedia */
#cameraFeed, #captureCanvas {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Memastikan video/gambar mengisi area tanpa distorsi */
}

/* Sembunyikan elemen secara default jika tidak ada JS */
#noCameraMessage, #loadingIndicator, #retakeButton, #messageBox {
    display: none;
}
